# SlackBook translation to pt_BR project
This is a effort to bring SlackBook to Brazilian Portuguese readers. If you want to help, please fork it, make your contributions and we will merge the best ones to master branch. On slackbook-en branch you will find original SlackBook files (in English).

# Projeto de tradução do SlackBook para pt_BR
Este é um esforço para trazer o SlackBook para os leitores brasileiros. Se você quiser ajudar, por favor faça um fork do projeto, faça suas contribuições e nós passaremos as melhores para o branch master. No branch slackbook-en você encontrará os arquivos originais do SlackBook (em inglês).
